{
  "version": "2.0",
  "app_name": "app",
  "stages": {
    "dev": {
      "api_gateway_stage": "api",
      "environment_variables": {
        "SHOPIFY_API_KEY": "YOUR APP KEY HERE",
        "SHOPIFY_API_SECRET": "YOUR APP SECRET HERE",
        "AWS_API_BASE_URL": "YOUR APP AWS BASE URL"
      }
    }
  }
}
